@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0 !important;
    margin: 0 !important;
}

body {
    background-color: #000;
    font-family: "Ubuntu", sans-serif;
}

main {
    display: grid;
    justify-content: stretch;
    align-items: center;
    /* gap: 10px; */
}

header.glassy {
    background: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.hero_section{
    height: calc(100vh - 70px);
}